<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//log4j/log4j Configuration//EN" "log4j.dtd">

<!-- ===================================================================== -->
<!--                                                                       -->
<!--  Log4j Configuration                                                  -->
<!--                                                                       -->
<!-- ===================================================================== -->

<!-- $Id: log4j.xml 5848 2007-07-17 18:43:56Z myoungstrom $ -->

<!--
	| For more configuration infromation and examples see the Jakarta Log4j
	| owebsite: http://jakarta.apache.org/log4j
-->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" >
   
	 <appender name="myConsole" class="org.apache.log4j.ConsoleAppender">  
	    <param name="Target" value="System.out" /> 
	    <param name="encoding" value="utf-8" />
        <layout class="org.apache.log4j.PatternLayout">     
            <param name="ConversionPattern"        
                value="[%d{yyyy-MM-dd HH:mm:ss,SSS}] [%-5p] [method:%l]  - %m%n" />     
                <!-- in log4j.xml myConsole Appender : [%t] %c{2\} -->
        </layout>     
        <!--过滤器设置输出的级别-->     
        <filter class="org.apache.log4j.varia.LevelRangeFilter">     
            <param name="levelMin" value="info" />     
            <param name="levelMax" value="error" />     
            <param name="AcceptOnMatch" value="true" />     
        </filter>     
    </appender>     
     
    <appender name="myFile" class="org.apache.log4j.DailyRollingFileAppender">        
        <param name="File" value="${catalina.home}/logs/jasperReport.log" /><!-- 设置日志输出文件名 -->     
        <!-- 设置是否在重新启动服务时，在原有日志的基础添加新日志 -->     
        <param name="Append" value="true" />    
         <param name="encoding" value="utf-8" />
        <!-- <param name="MaxBackupIndex" value="10" />  -->    
        <layout class="org.apache.log4j.PatternLayout">     
            <param name="ConversionPattern" value="%d{MM-dd HH:mm:ss SSS} %p (%c:%L)- %m%n" />     
        </layout>  
         <!--过滤器设置输出的级别-->     
        <filter class="org.apache.log4j.varia.LevelRangeFilter">     
            <param name="levelMin" value="info" />     
            <param name="levelMax" value="fatal" />     
            <param name="AcceptOnMatch" value="true" />     
        </filter>        
    </appender>     
    
     <appender name="errorFile" class="org.apache.log4j.DailyRollingFileAppender">        
        <param name="File" value="${catalina.home}/logs/error.log" /><!-- 设置日志输出文件名 -->     
        <!-- 设置是否在重新启动服务时，在原有日志的基础添加新日志 -->     
        <param name="Append" value="true" />    
         <param name="encoding" value="utf-8" />
        <!-- <param name="MaxBackupIndex" value="10" />  -->    
        <layout class="org.apache.log4j.PatternLayout">     
            <param name="ConversionPattern" value="[%d{MM-dd HH:mm:ss SSS\} %p (%c:%L)- %m%n" />     
        </layout>  
         <!--过滤器设置输出的级别-->     
        <filter class="org.apache.log4j.varia.LevelRangeFilter">     
            <param name="levelMin" value="warn" />     
            <param name="levelMax" value="fatal" />     
            <param name="AcceptOnMatch" value="true" />     
        </filter>        
    </appender>     
    
    
       
    <appender name="activexAppender" class="org.apache.log4j.DailyRollingFileAppender">     
        <param name="File" value="${catalina.home}/logs/activeAppender.log" />    
           <param name="Append" value="true" />
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />       
        <layout class="org.apache.log4j.PatternLayout">     
         <param name="ConversionPattern"       
            value="[%d{MM-dd HH:mm:ss SSS\} %-5p] [%t] %c{3\} - %m%n" />     
        </layout>      
          <!--过滤器设置输出的级别-->     
        <filter class="org.apache.log4j.varia.LevelRangeFilter">     
            <param name="levelMin" value="info" />     
            <param name="levelMax" value="error" />     
            <param name="AcceptOnMatch" value="true" />     
        </filter>        
    </appender>     
    
    
    <appender name="financeFile" class="org.apache.log4j.DailyRollingFileAppender">        
        <param name="File" value="${catalina.home}/logs/finance.log" /><!-- 设置日志输出文件名 -->     
        <!-- 设置是否在重新启动服务时，在原有日志的基础添加新日志 -->     
        <param name="Append" value="true" />    
         <param name="encoding" value="utf-8" />
        <!-- <param name="MaxBackupIndex" value="10" />  -->    
        <layout class="org.apache.log4j.PatternLayout">     
            <param name="ConversionPattern" value="[%d{MM-dd HH:mm:ss SSS\} %p (%c:%L)- %m%n" />     
        </layout>  
         <!--过滤器设置输出的级别-->     
        <filter class="org.apache.log4j.varia.LevelRangeFilter">     
            <param name="levelMin" value="debug" />     
            <param name="levelMax" value="fatal" />     
            <param name="AcceptOnMatch" value="true" />     
        </filter>        
    </appender>  
    
   <appender name="financeDB" class="org.apache.log4j.jdbc.JDBCAppender">
   <param name="URL" value="jdbc:oracle:thin:@10.21.58.31:1521:medevelop"/>
   <param name="driver" value="oracle.jdbc.driver.OracleDriver"/>
   <param name="user" value="amicos"/>
   <param name="password" value="redhat_2016"/>
   <param name="sql" value="INSERT INTO log4j_finance VALUES('%d{MM-dd}',
                             '%d{HH:mm:ss}','%p','%c','%m')"/>
  <!--过滤器设置输出的级别-->     
        <filter class="org.apache.log4j.varia.LevelRangeFilter">     
            <param name="levelMin" value="debug" />     
            <param name="levelMax" value="fatal" />     
            <param name="AcceptOnMatch" value="true" />     
        </filter>     
</appender>
   
        
    <!-- 指定logger的设置，additivity指示是否遵循缺省的继承机制-->     
    <logger name="com.szair.smartme.productlogsys" additivity="false">   
        <level value="info" />  
        <appender-ref ref="myFile" />       
    </logger>     
    
    
     <logger name="com.szair.smartme.jasperReport" additivity="true">   
        <appender-ref ref="myFile" />       
    </logger> 
         
    <logger name="com.szair.smartme.finance" additivity="true">   
         <appender-ref ref="financeDB" />     
    </logger>      
   
   <logger name="com.szair.smartme" additivity="true">   
        <level value="info" />  
    </logger>
   
    <!-- 根logger的设置-->     
    <root>     
        <level value ="info"/>     
        <appender-ref ref="myConsole"/>     
        <appender-ref ref="activexAppender"/>     
        <appender-ref ref="errorFile" />
    </root>
	     
	     
          
      

     


	<!-- <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />

		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{HH:mm:ss,SSS} %-5p [%c{1}] %m%n" />
		</layout>
	</appender> -->


	<!--
		<category name="org.hibernate">
		<priority value="DEBUG"/>
		</category>
	-->

	<!--
		<category name="org.jboss.seam">
		<priority value="DEBUG" />
		</category>
	-->

	<!--
		<category name="org.jboss.kernel">
		<priority value="DEBUG"/>
		</category>
	-->
	<!-- <category name="com.opensymphony.xwork2.ognl.OgnlValueStack">
		<priority value="error" />
	</category>
	<root>
		<priority value="INFO" />
		<appender-ref ref="CONSOLE" />
	</root> -->


</log4j:configuration>
